body {
    background-image: url("../images/testBG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100%;
}
html {
    height: 100%;
}
#board {
    border-left: 1px solid white;
    border-right: 1px solid white;
    height: 100%;
    margin: auto;
    background-color: black;
    position: relative;
    width: 25%;
}
#arrows {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#Left{
    width: 25%;
    padding-top: 25%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../images/Arrows/Larrow1.png");
}
#Down{
    width: 25%;
    padding-top: 25%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../images/Arrows/Darrow1.png");
}
#Up{
    width: 25%;
    padding-top: 25%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../images/Arrows/Uarrow1.png");
}
#Right{
    width: 25%;
    padding-top: 25%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../images/Arrows/Rarrow1.png");
}
.newArrowL{
    display: inline-block;
    position: absolute;
    width: 25%;
    padding-top: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../images/Arrows/Larrow1.png");
}
.newArrowD{
    display: inline-block;
    position: absolute;
    width: 25%;
    padding-top: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../images/Arrows/Darrow1.png");
}
.newArrowU{
    display: inline-block;
    position: absolute;
    width: 25%;
    padding-top: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../images/Arrows/Uarrow1.png");
}
.newArrowR{
    display: inline-block;
    position: absolute;
    width: 25%;
    padding-top: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../images/Arrows/Rarrow1.png");
}

/* Add different arrows */