#tbl td, #tbl, #tbl th {
    border: solid 1px rgb(172, 231, 33);
}
body {
  margin: 0px;
  min-width: 1127px;
}
#tbl {
    border-collapse: collapse;
}
#board {
    background-color: blue;
    display: block;
    width: 100%;
    height: 80vh;
}
#square {
    background-color: yellow;
    position: absolute;
    width: 100px;
    height: 100px;
    top: -100px;
    left: 50%;
    margin-left: -50px;
}
#start:focus{
    outline: none;
}

#start {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 300px;
    padding:32px 16px;
    color: rgba(255, 255, 255, 0.699);
    text-align: center;
    border: none;

}
@keyframes startGlow {
    from{
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to{
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  @keyframes startStartGlow {
      from{

      }
      to{
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
    }
    @keyframes stopGlow {
        from{
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        }
        to{
          
        }
      }
      @keyframes fadein {
        from{
          opacity: 0;
        }
        
        to{
           opacity: 1;
        }
      }
      @keyframes startOGlow {
        from{
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #21a6e4, 0 0 40px #21a6e4, 0 0 50px #21a6e4, 0 0 60px#21a6e4, 0 0 70px #21a6e4;
        }
        
        to{
          text-shadow: 0 0 20px #fff, 0 0 30px #5cf4ff94, 0 0 40px #5cf4ff94, 0 0 50px #5cf4ff94, 0 0 60px #5cf4ff94, 0 0 70px #5cf4ff94, 0 0 80px#5cf4ff94;
        }
      }

      @keyframes stopOGlow {
        from{
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #21a6e4, 0 0 40px #21a6e4, 0 0 50px #21a6e4, 0 0 60px#21a6e4, 0 0 70px #21a6e4;
        }
        to{
          
        }
      }
#options:focus{
  outline:none;
}
#options{
    position:absolute;
    top: 5%;
    right: 5%;
    padding:32px 16px;
    text-align: center;
    border: none;
    font-size: 122px;
    color:rgba(255, 255, 255, 0.699);
    opacity: 0;
}
#box{
    width: 1px; 
    height: 1px;
    margin-top: 170px;
    margin-left: 5%;
}
#settings {
  display: none;
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-family: Arial;
}
#maps {
  display: none;
}
.arrowLabel {
  display: inline-block;
  margin: 0px;
}
#arrowButton0, #arrowButton1, #arrowButton2, #arrowButton3 {
  display: inline-block;
  margin: 0px;
}
#controls {
  padding-left: 50px;
}